{% extends 'base.html.twig' %}

{% block title %}Validation de mail{% endblock %}

{% block body %}
   <div class="container mt-5 login-container">
        <h1 class="text-center  bg-light p-3">{{ siteName }}</h1>
        <h2 class="text-center mt-3">Valider mon mail</h2>
        <div class="container mt-3">
            {{ form(form) }}
        </div>
        <a href="{{ path('home') }}">Aller à l'accueil</a>
   </div>
{% endblock %}
