{% extends 'base.html.twig' %}

{% block title %}Médiathèque de La Chapelle-Curreaux - Accueil{% endblock %}

{% block body %}
<div class="home-container">
    <div class="home-bg pb-3">
      
        <h1 class="text-center pt-3 mb-3">Médiathèque</br> de </br>La Chapelle-Curreaux</h1>
        <h2 class="text-center"> <span>Le </span> <span>service </span> <span>de </span> <span>Click </span> <span>and </span> <span>Collect </span></h2>
        
        <div class=" text-container text-center mt-5">
            <h3 class="title-category"><span>Plus </span> <span>de </span> <span>4000 </span> <span>références </span></h3>
            <ul class="text-start">
                <li class="category">Littérature</li>
                <li class="category">Science fiction</li>
                <li class="category">Romans</li>
                <li class="category">Bandes dessinées</li>
                <li class="category">Histoire</li>
                <li class="category">Et plus encore...</li>
            </ul>
        </div>

        <div class='btn-container d-flex justify-content-around'>
            <button type="button" data-toggle="modal" data-target="#register">M'inscrire</button>
            <button type="button"><a href="{{ path('app_login') }}">Me connecter</a></button>
        </div>
    </div>
</div>
{% include "/utils/modals/register.html.twig" %}
{% endblock %}
