<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="about" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">A propos de nous</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="text-start">
                    La Médiathèque De La Chapelle-Curreaux en 10 points :
                    <ul>
                        <li>
                            Un bâtiment conçu par le cabinet d’architectes Richard et Schoeller sélectionné parmi plus de 60 dossiers de candidature.
                        </li>
                        <li>
                            1321 m² dont plus de 900m² consacré au public et aux collections.
                        </li>
                        <li>
                            Un fonds documentaire de 20 000 documents tous supports (imprimé, CD, DVD, numérique) et des jeux à emprunter.
                        </li>
                        <li>
                            Un équipement rassemblant les secteurs liés à la Petite Enfance (RAM, consultations PMI), l’Enfance (SEL), la Jeunesse (CAJ, Mission Locale, PIJ), la Culture et la Communication autour du projet de Lecture Publique de la ville et financé à plus de 80%.
                        </li>
                        <li>
                            Un accueil estaminet qui vous proposera boissons et petite restauration pour accompagner votre lecture.
                        </li>
                        <li>
                            Des salles d’activités et un studio de répétition et d’enregistrement accessibles également en dehors des heures d’ouverture de l’équipement et une salle de diffusion complémentaire à Ronny Coutteure.
                        </li>
                        <li>
                            Une ouverture de l’équipement de plus de 40h/semaine aux tarifs accessibles à tous.
                        </li>
                        <li>
                            Un (3ème) lieu pour se détendre, travailler, découvrir et jouer disposant du wifi accessible au sein du bâtiment comme depuis le jardin.
                        </li>
                        <li>
                            Un jardin clôturé et aménagé de jeux, bancs sonores et d'un amphithéâtre de plein air.
                        </li>
                        <li>
                            Une ouverture en juin 2015.
                        </li>
                    </ul>
                    <p>
                        <strong>Horaires d'ouverture* :</strong></br>
                        accueil libre (espace lecture) Lundi, mardi, jeudi, vendredi, samedi : de 8h à 12h et de 14h à 18h</br>         
                        Mercredi : de 8h à 18h</br>
                        Samedi de 10h à 12h</br>
                        <small>* en cas de paiement ou d'inscription : lundi, mardi, mercredi, jeudi, vendredi de 9h à 12h et de 14h à 17h</small>
                    </p>
                </div>
            </div>
            <div class="modal-footer text-center">
                <p>
                    N'hésitez pas à nous contacter nous ferons tout notre possible pour répondre à votre demande.</br> 
                    <span class="text-primary"> L'équipe de {{siteName}} </span>
                </p>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>