<div class="modal fade" id="privacy" tabindex="-1" role="dialog" aria-labelledby="privacy" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Conditions générales</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="text-start">
                    La norme simplifiée n° 9 concerne les traitements relatifs à la gestion des prêts de livres, de supports audiovisuels et d’oeuvres artistiques et des consultations de documents d’archives publiques. Ils doivent avoir pour objet la gestion financière des prêts, la récupération des ouvrages ou supports prêtés et l’élaboration de statistiques.</br>
                    Les données enregistrées sont relatives à l’emprunteur (identité, catégorie professionnelle, sous forme facultative la nature de la recherche) et les caractéristiques du prêt ou de la communication (désignation de l’oeuvre (titre, nom de l’auteur, de l’éditeur, etc.) ou du document d’archive, cotes de catalogage ou de classement, date, date(s) de relance). Les données enregistrées sont conservées pendant la durée d’utilisation du service de prêt (la radiation intervient d’office dans un délai d’un an à compter de la date de fin du prêt précédent). Les informations concernant chaque prêt sont conservées jusqu’à la fin du quatrième mois suivant la restitution de l’objet du prêt.</br>
                    Au-delà de ce délai, les informations sont détruites.</br>
                    Les informations relatives aux consultations de documents d’archives sont conservées jusqu’au prochain inventaire et dans la limite d’une durée maximum de dix ans. Les personnes sont informées, lors de la collecte des données, des droits qui leur sont reconnus par la loi du 6 janvier 1978 modifiée.</br>
                    <a href="https://www.cnil.fr/sites/default/files/atoms/files/ns09.pdf" target="_blank">Texte officiel</a>
                    
                </div>
            </div>
            <div class="modal-footer text-center">
                <p>
                    N'hésitez pas à nous contacter nous ferons tout notre possible pour répondre à votre demande.</br> 
                    <span class="text-primary"> L'équipe de {{siteName}} </span>
                </p>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>