<div class="modal fade" id="reglement" tabindex="-1" role="dialog" aria-labelledby="reglement" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Règlement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="text-start">
                    <p><strong>Validation du compte</strong>
                        <ul>
                            <li>
                                Vous devez utiliser un mail valide, un code personnel vous sera envoyé afin de le vérifier.
                            </li>
                            <li>
                                Un membre de l'équipe validera votre compte une fois les pièces nécessaires reçues.
                            </li>
                            <li>
                                Nous nous réservons le droit de suspendre votre compte si nécessaire.
                            </li>
                        </ul>
                    </p>
                    <p><strong>Réservation et emprunt</strong>
                        <ul>
                            <li>
                                Vous pouvez réserver jusqu'à 10 articles en même temps.
                            </li>
                            <li>
                                Une réservation est valable 3 jours. Passé ce délai l'article sera retiré de votre carte.
                            </li>
                            <li>
                                Vous pouvez conserver les articles pendant 15 jours renouvelable une fois. En cas de non restitution votre compte sera suspendu.
                            </li>
                            <li>
                                L'état des articles est vérifier avant chaque emprunt et à chaque retour. En cas de soucis votre compte pourra être suspendu
                            </li>
                        </ul>
                    </p>

                </div>
            </div>
            <div class="modal-footer text-center">
                <p>
                    N'hésitez pas à nous contacter nous ferons tout notre possible pour répondre à votre demande.</br> 
                    <span class="text-primary"> L'équipe de {{siteName}} </span>
                </p>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>