{% extends 'base.html.twig' %}

{% block title %}Catalogue de la {{ siteName }}{% endblock %}

{% block header %}{% endblock %}
{% block breadcrumb %} {% endblock %}
{% block body %}

<div class="container-fluid">
    <div class="row justify-content-center"> 
        
        {% for book in books %}
            {% include "utils/books.html.twig" %} 
        {% endfor %}
        
    </div>
    {% set route_name = app.request.attributes.get('_route') %}
        {% if  (totalBooks > limit) %}     
            <nav class="mt-3">
                <ul class="pagination justify-content-center">
                    <li class="page-item {{ (pageBook == 1 ? 'disabled') }}">
                    {% if route_name == 'show_books' %}
                        {% include "utils/pagination/allBooks.html.twig" %}
                    {% elseif route_name == 'show_books_category' %}
                        {% include "utils/pagination/booksByCategory.html.twig" %}
                    {% elseif route_name == 'show_books_autor' %}
                        {% include "utils/pagination/booksByAutor.html.twig" %}
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
</div>
{% endblock %}
