.home-container {
    height: 100vh;
    background: url('../../public/img/home-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    overflow-x: hidden;
}

.home-bg {
    position: relative;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.6);
    backdrop-filter: grayscale(0.3) contrast(1) blur(1px);
    color: $light;

    h1, h2 {
        letter-spacing: .2em;
    }

    h1 {
        text-transform: uppercase;
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
        opacity: 1;
        margin-top: 10%;
    }

    h3 {
        font-size: 1.5em;
    }

    .text-container {
        margin-top: 20%;
    }

    .btn-container {
        margin-top: 20%;

    }

    button {
        border: 2px solid $light;
        outline: none;
        background: transparent;
        font-size: 2em;
        padding: 1em;
        width: 400px;
        letter-spacing: .2em;
        color: $light;
        border-radius: 10px;
        transition: all ease-in-out .5s;
        opacity: 1;

        a {
            text-decoration: none;
            color: $light;
        }
        
        &:hover {
            background: $light;
            color: $black;
        }
    }

    ul {
        margin-left: 50%;
        transform: translateX(-10%);
        margin-top: 2em;
        padding: 0;

        li {
            list-style-type: none;
            font-size: 1.5em;
            font-style: italic;
        }
    }
}

.close{
    opacity: 1;
    font-size: 3em;
    font-weight: bold;
    border: none;
    background: transparent;
}
