$black: rgba(51, 51, 51, 0.68);
$blakest: rgba(24, 24, 24, 0.961);
$primary: rgb(99, 151, 242);
$secondary: rgb(157, 150, 150);
$succes:rgb(119, 233, 189);
$danger: rgb(235, 149, 134);
$warning: rgb(239, 252, 193);
$info: rgb(109, 213, 194);
$light: rgba(231, 243, 250, 0.947);
$dark: #333;