<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ siteName }}{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <header>
            {% if block('header') is defined %}
                {% include "utils/header.html.twig" %}
            {% endif %}
        </header>
        <main>
            <div class="flash">
                {% include('utils/flash.html.twig') %}
            </div>
            {% block body %}
                
            {% endblock %}
        </main>
        {% include "utils/footer.html.twig" %}
        {% include 'utils/modals/contact.html.twig' %}
        {% include 'utils/modals/about.html.twig' %}
        {% include 'utils/modals/reglement.html.twig' %}
        {% include 'utils/modals/privacy.html.twig' %}
    </body>
</html>
