<footer class="bg-light mt-3">
  <div class="container pt-3">
    <div class="row">
      <div class="col-md-6 footer-column">
        <ul class="nav flex-column">
          <li class="nav-item">
            <span class="footer-title">La médiathèque</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">A propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nous contacter</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 footer-column">
        <ul class="nav flex-column">
          <li class="nav-item">
            <span class="footer-title">Informations Légales</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Règlement intérieur</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Conditions d'utilisation</a>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="text-center">
      <div>
        <span>
            Copyright &copy; {{ siteName }} <script>document.write(new Date().getFullYear())</script>
        </span>
      </div>
  </div>
</footer>